.example-spacer {
    flex: 1 1 auto;
}

.slide-toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// .custom-mat-toolbar {
//     border: 1px solid white;
// }