<!-- <h1>{{currentUser.first_name}} {{currentUser.type}}</h1> -->


@if (users.length > 0) {
    <div [ngClass]="{'dark-theme': colorScheme === 'dark'}">

        <mat-accordion multi> 
                @for (user of users; track $index) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title> {{user.first_name}} {{user.last_name}} {{user.nickname}}</mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <app-client-subscription-info [getCurrentUser]="currentUser" [getUserFromList]="user"/>
                    </mat-expansion-panel>
                }
        </mat-accordion>

    </div>
}