@if (users.length > 0 && currentUser?.type === 'Coach') {
    <app-client-list
    [usersList]="users"
    [getCurrentUser]="currentUser"
    [getColorScheme]="tgColorScheme$ | async"/>
} @else {
    <mat-card>
        <mat-card-content>
            @if(currentUser) {
                <app-client-subscription-info [getCurrentUser]="currentUser"/>
            }
        </mat-card-content>
    </mat-card>
}

<div class="datepicker-container mt-2">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar [dateFilter]="myFilter" [(selected)]="selected"></mat-calendar>
    </mat-card>
</div>
<div class="center">
    <p>Selected date: {{selected() | date: 'dd.MM.yyyy'}}</p>

    <button mat-flat-button
        [disabled]="isDateSelected"
        (click)="markAttendance()">
        {{isDateSelected ? 'Посещение отмечено' : 'Отметить посещение'}}
    </button>
</div>
