@if( user?.membershipType) {
  <div class="client-subscription-info ">
  
    <p>Никнейм : {{user.nickname ? user.nickname : 'нету'}}</p>
    <mat-form-field appearance="outline">
      <mat-label>Добавить никнейм</mat-label>
      <input (input)="changeNickName($event)" matInput placeholder="Ввести никнейм">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <p>Дата начала: {{ user.startDate }}</p>
    <p>Дата окончания: {{ user.endDate }}</p>
    <p>Всего занятий: {{ user.totalTrainings }}</p>
    <p>Осталось занятий: {{ user.remainingTrainings }}</p>

    <button (click)="saveChangeUserData()">Сохранить</button>

  </div>
} @else {
  <div class="client-subscription-info">

    <p>Абонементная информация не выбрана</p>

    <mat-form-field appearance = 'outline'>
      <mat-label>Выбрать абонимент</mat-label>
      <mat-select (selectionChange)="test($event)">
        @for (aboniment of aboniments; track aboniment) {
          <mat-option [value]="aboniment.value">{{aboniment.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>
}

