@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$ChewiCheck-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($ChewiCheck-theme);
  @include mat.menu-overrides((
    item-label-text-color: orange,
    item-icon-color: red,
  ));
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__main {
    flex: 1;
  }
}


//MAT-TOOLBAR
.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;
}

.custom-mat-toolbar {
  .mat-toolbar {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
  }
}

//mat-icon 
.mat-icon {
  cursor: pointer;
  color: var(--tg-theme-text-color) !important;
}

.client-subscription-info-mat-icon {
  
}

//MAT-CALENDAR
.mat-calendar-body-cell-content {
  color: var(--tg-theme-text-color) !important;
}

.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  color: red !important;
}


.mat-calendar-table-header th {
  color: var(--tg-theme-text-color) !important;
}

.mat-mdc-button:not(:disabled) {
  color: var(--tg-theme-text-color) !important;
}

.mat-mdc-icon-button {
  color: var(--tg-theme-text-color) !important;
}

.mat-calendar-arrow {
  fill: var(--tg-theme-text-color) !important;
}

.mat-calendar-body-label {
  color: var(--tg-theme-text-color) !important;
}


//MAT-CARD
// .mat-mdc-card-outlined {
//   background-color: var(--tg-theme-text-color) !important;
// }

.mat-mdc-card {
  background-color: var(--tg-theme-bg-color) !important;
  outline: 0.5px solid var(--tg-theme-text-color) !important;
  border-width: 0 !important;
  border-color: unset !important;
}


//MAT-EXPANSION-PANEL
.dark-theme {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    border: 1px solid var(--tg-theme-text-color) !important;
  }
}
.mat-expansion-panel {
  background-color: var(--tg-theme-bg-color) !important;
}
.mat-expansion-panel-header-title {
  color: var(--tg-theme-text-color) !important;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: var(--tg-theme-secondary-bg-color) !important;
}
.mat-expansion-indicator svg {
  fill: var(--tg-theme-text-color) !important;
}

//MAT-FORM-FIELD
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)[placeholder] .mdc-text-field__input[placeholder] {
  color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mat-mdc-notch-piece {
  border-color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label {
  color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece {
  border-color: var(--tg-theme-text-color) !important;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none;
}

//MAT-FORM-FIELD tex-area
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: red !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--tg-theme-bg-color) !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-color: var(--tg-theme-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--tg-theme-text-color) !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}